@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;

### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)
 */


 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 #navbarcont{
    margin-top: 55px;
     margin-left: 50px;
     margin-right: 50px;
 }

 .nav{
     color: black;
     font-size: 1.2em;
     margin-left: 70px;
     margin-right: 0;
     text-decoration: none;
 }


 #headercontainer{
     margin-top: 10em;
 }

 #headercontainertext{
    margin-left: 50px;
 }


 #headercontainer h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    max-width: 15em;
    line-height: 1.4;
 }

 #headercontainer p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    max-width: 32em;
 }

 #headform{
     margin-right: 20px;
     padding: 20px;
     border: 1px solid black;
     border-radius: 2px;
     max-width: 60%;
 }

 #headformbutton{
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    border: none;
    width: 25%;
 }

 #illustrate1{
    width: 60em;
    margin-top: -5em;
    margin-right: 50px;
}







 /* media querry */
 @media (max-width: 576px){
    #navbarcont{
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .nav{
        font-size: 1em;
        margin-left: 20px;
        margin-right: 0;
        text-decoration: none;
    }

    #headercontainer{
        margin-top: 10em;
    }

    #flylogo{
        max-width: 90px;
    }

    #illustrate1cad{
        margin: auto;
    }

     #illustrate1{
         max-width: 20em;
         margin-left: 5px;
         margin-right: 5px;
     }

     #headercontainertext{
        margin-left: 5px;
     }

     #headercontainer h1{
        font-size: 1.6em;
        text-align: center;
        max-width: 32em;
        line-height: 1.6;
        margin-top: 1.5em;
     }
    
     #headercontainer p{
        text-align: center;
        font-size: 1em;
        max-width: 40em;
     }

     #headform{
        margin-right: none;
        max-width: 100%;
        margin-bottom: 10px;
    }
   
    #headformbutton{
       padding: 20px;
       border-radius: 4px;
       border: none;
       width: 100%;
    }
    
 }




